{
  "plugins"      : [
    "react",
    "react-native"
  ],

  "extends"      : [
    "eslint:recommended",
    "plugin:react/recommended"
  ],

  "parserOptions": {
    "ecmaVersion" : 7,
    "sourceType"  : "module",
    "ecmaFeatures": {
      "jsx"                         : true,
      "modules"                     : true,
      "experimentalObjectRestSpread": true
    }
  },

  "settings"     : {
    "react"               : {
      // Regex for Component Factory to use, default to "createReactClass"
      "createClass": "createReactClass",
      // Pragma to use, default to "React"
      "pragma"     : "React",
      // React version, default to the latest React stable release
      "version"    : "16.0",
      // Flow version
      "flowVersion": "0.53"
    },
    "propWrapperFunctions": [
      // The names of any functions used to wrap the propTypes object, such as `forbidExtraProps`. If this isn't set, any propTypes wrapped in a function will be skipped.
      "forbidExtraProps"
    ]
  },

  "rules"        : {
    "react/jsx-uses-react"                  : "error",
    "react/jsx-uses-vars"                   : "error",
    "comma-dangle"                          : 0,
    "react-native/no-unused-styles"         : 2,
    "react-native/split-platform-components": 2,
    "react/prop-types"                      : "error",
    "no-console"                            : 0
  }
}